html {
  position: relative;
  min-height: 100%;
}

a {
  color: #109CDB;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #06B8EC;
}

.fa-2 {
  font-size: 2em;
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-md {
  font-size: 27px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.meta-list {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
}

.info {
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 2px solid #1798D8;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar li a:before {
  color: #ccc;
  content: "\f0da";
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.article-body ul {
  list-style-type: square;
}

.sidebar h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
}

.article {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.article-title {
  font-weight: 300;
  line-height: 1;
}

@media (min-width: 768px) {
  .article-title {
    font-size: 35px;
  }

  .heading {
    font-size: 45px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }

  .navbar ul.nav > li > a:hover {
    border-top: solid 3px transparent;
  }

  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top: solid 3px transparent;
  }
}

@media (min-width: 992px) {
  .article-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.article-body {
  padding-bottom: 10px;
  text-align: justify;
}

.article-author {
  font-size: 16px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 12px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.help-block {
  font-size: 12px;
}

input,
textarea {
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #dbdbe0;
}

input:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #06B8EC;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #1798D8;
}

textarea {
  height: 150px;
  max-width: 100%;
  resize: vertical;
}

/*
=====================
NAVBAR
=====================
*/
.navbar-default {
  background-color: #ffffff;
}


.navbar {
  border: none;
}

.navbar-brand {
  padding-top: 0px;
  height: 55px;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  border-top: solid 3px transparent;
}

.navbar ul.nav > li > a.active {
  color: #000;
}

.navbar ul.nav > li > a:hover {
  border-top: solid 3px #06B8EC;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 3px #1798D8;
  background-color:  #06B8EC;
  color: #fff;
}

.navbar ul.nav > li.active > a:hover {
  opacity: 0.7;
}

/*
=====================
FOOTER
=====================
*/

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #1798D8;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  height: 60px;
}

.footer > .container > .text-muted {
  margin: 20px 0;
}

.banner {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-contact {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 12px;
  white-space: normal;
  border: none;
  border-radius: 0px;
  background-color:  #109CDB;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

a.btn-contact:hover {
  color: #FFF;
  opacity: .7;
}

a.btn-contact:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
